.testimonials-section {
    background: #0a3d78;
    /* deep blue background */
    color: white;
    padding: 7rem;
    text-align: center;
}


.testimonials-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    gap: 3rem;
    /* max-width: 1200px; */
    /* margin: auto; */
    /* flex-wrap: wrap; */
}

/* LEFT */
.testimonials-left {
    flex: 1;
    min-width: 280px;
}

.quote-big {
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: 1rem;
}

.testimonials-left h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.testimonials-left p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
    color: #dbe6f6;
}

.connect-btn {
    display: inline-block;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.connect-btn:hover {
    text-decoration: underline;
}

/* RIGHT */
.testimonials-right {
    flex: 2;
    min-width: 320px;
}

.testimonial-card {
    background: #fff;
    color: #333;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 57vh !important;
    display: flex;
    align-items: center;
}

.testimonial-card img {
    width: 28vh;
    height: 200px;
    object-fit: cover;
    border-radius: auto;
}

.testimonial-text {
    padding: 1.2rem;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: -15px;
    left: 15px;
    font-size: 2rem;
    color: #0a3d78;
}

.testimonial-text p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    color: #444;
    margin-top: 1rem;
    font-family: poppins;
}

.testimonial-text h3 {
    font-size: 1.1rem;
    margin: 0;
    font-weight: 600;
    margin-top: 2vh;
    font-family: poppins;
}

.testimonial-text span {
    font-size: 0.9rem;
    color: #666;
    font-family: poppins;
    letter-spacing: 1px;

}

/* Swiper Navigation */
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    background: #0a3d78;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    top: auto;
    bottom: -40px;
}

.swiper-pagination-bullet {
    background: #fff;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    opacity: 1;
}

@media(max-width:900px) {
    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .testimonials-section {
        padding: 1rem;
    }

    .testimonial-card {
        height: 62vh !important;
    }
}

@media(max-width:1219px) {
    .testimonial-card {
        height: 66vh !important;
    }
}